@import "../../../styles/colors.scss";
@import "../../../styles/respond.scss";

.talent-field {
  background: transparent url("../../../styles/assets/background.png") center center fixed;
  border: 4px solid $borderColor;
  margin-right: auto;
  margin-left: auto;
  min-width: 400px;
  width: 100%;
  padding: 15px;
  
  @include respond(sm) {
    max-width: 540px;
  }

  @include respond(md) {
    max-width: 720px;
  }

  @include respond(lg) {
    max-width: 960px;
  }
  
  @include respond(xl) {
    max-width: 960px;
  }
}

